<div class="md:flex">
  <ul
    class="flex-column w-80 space-y space-y-4 text-sm font-medium text-gray-500 dark:text-gray-400 md:me-4 mb-4 md:mb-0"
  >
    <li (click)="viewChanger('list')" class="cursor-pointer">
      <div
        [ngClass]="{
          'custom-bg text-white hover:text-white': tabView === 'list'
        }"
        class="inline-flex text-lg items-center px-4 py-3 rounded-lg hover:text-gray-900 bg-gray-100 hover:bg-gray-200 w-full dark:bg-gray-800 dark:hover:bg-gray-700 dark:hover:text-white"
      >
        <i class="fa-solid fa-list mr-3 ml-3"></i>
        Invoice List
      </div>
    </li>
    <li (click)="viewChanger('generate')" class="cursor-pointer">
      <div
        [ngClass]="{
          'custom-bg text-white hover:text-white': tabView === 'generate'
        }"
        class="inline-flex text-lg items-center px-4 py-3 rounded-lg hover:text-gray-900 bg-gray-100 hover:bg-gray-200 w-full dark:bg-gray-800 dark:hover:bg-gray-700 dark:hover:text-white"
      >
        <i class="fa-solid fa-pen-to-square mr-3 ml-3"></i>
        Invoice Generator
      </div>
    </li>
  </ul>

  <!--If List -->
  @if (tabView === "list") {
  <div
    class="p-6 bg-gray-100 text-medium text-gray-500 dark:text-gray-400 dark:bg-gray-800 rounded-lg w-full"
  >
    <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
      <table
        class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400"
      >
        <thead
          class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400"
        >
          <tr>
            <th scope="col" class="px-6 py-3">Invoice name</th>
            <th scope="col" class="px-6 py-3">Date</th>
            <th scope="col" class="px-6 py-3">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
            <th
              scope="row"
              class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"
            >
              Invoice No: 02545124
            </th>
            <td class="px-6 py-4">13th June 2024</td>
            <td class="px-6 py-4">
              <button mat-button [matMenuTriggerFor]="menu">
                <i class="fa-solid fa-ellipsis-vertical"></i>
              </button>
              <mat-menu #menu="matMenu">
                <button mat-menu-item>Download</button>
                <button mat-menu-item>Edit</button>
              </mat-menu>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  }
  <!--If Generate Tab -->
  @if (tabView === "generate") {
  <app-generator></app-generator>
  }
</div>
